<div class="container">
    <h1>Welcome to Thesis Supervisor Search </h1>
    <ul class="nav navbar-nav">
        <li><a href="http://localhost:9000/login" class="link">login</a></li>
		<li [class.active]="getLinkStyle('/login')"><a [routerLink]="['/Login']" class="link">Login</a></li>
   		<li><a (click)="callApi()">Call API</a></li>              
   		<li><a (click)="logout()">Logout</a></li>
	</ul>
	<pre *ngIf="jwt" class="jwt"><code>{{jwt}}</code></pre>
   	<pre *ngIf="jwt" class="jwt"><code>{{decodedJwt | json}}</code></pre>
</div>